.contacts {
    width: 100%;
    cursor: pointer;
    box-shadow: -3px 4px 27px -12px;
}
   td, th {
    border: 1px solid rgb(170, 170, 170);
    padding: 8px;
  }
  
   tr{background-color: #f2f2f2;}
  
   tr:hover {
     background-color: #ddd !important;
  }
  
   th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background: #c2c2c2;
  }
  .contact-actions{
      display: flex;
      justify-content: space-evenly;
  }

.action-btns {
  button{
    color: white !important;

  }
}


@media (max-width: 500px){
.contacts{
  .contact-actions{
    justify-content: initial;
  }
  td, th {
    padding: 3px;
    font-size: 16px;
  }
  th{
    height:50px;
  }
  td:not(:last-child) {
    width:30px
  }
}
}