.contact-filter {
    display: flex;
    margin-block: 20px;
        color: white;
    .input-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        input{
        background-color: #fff;

        }

      
    }
    
}