
/* CSS */
.nice-button {
    align-items: center;
    appearance: none;
    // background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    background-image: radial-gradient(100% 100% at 100% 0, #fbffe5 0, #fbffe5 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: 0px 2px 15px -2px #000000;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;

    &:focus {
        box-shadow: #fbffe5 0 0 0 1.5px inset, rgba(57, 218, 177, 0.4) 0 2px 4px, rgba(57, 218, 177, 0.4) 0 7px 13px -3px,
        #fbffe5 0 -3px 0 inset;
    }

    &:hover {
        box-shadow: #ced3b3 0 4px 8px, #9aa16f 0 7px 13px -3px, #fbffe5 0 -3px 0 inset;
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: #fbffe5 0 3px 7px inset;
        transform: translateY(2px);
    }
}
