// @font-face {
//     src: url(../../fonts/OpenSans-Bold.ttf);
//     font-family: OpenSans-Bold;
// }

// @font-face {
//     src: url(../../fonts/OpenSans-Light.ttf);
//     font-family: OpenSans-Light;
// }

// @font-face {
//     src: url(../../fonts/OpenSans-Regular.ttf);
//     font-family: OpenSans;
// }

@font-face {
    font-family: GreatVibes;
    src: url(../../assets/fonts/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: Roboto-light;
    src: url(../../assets/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: Roboto-thin ;
    src: url(../../assets/fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family:Montserrat ;
    src: url(../../assets/fonts/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family:Poppins ;
    src: url(../../assets/fonts/Poppins-Medium.ttf);
}